node_modules/
dist/
dist-ssr/
*.local

# npm / yarn / pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store

# 忽略 Rust 编译生成的巨大二进制文件和缓存
src-tauri/target/

# 如果你不需要跟踪 Cargo.lock，可以取消下面这行的注释（但官方通常建议保留以保证依赖版本一致）
# src-tauri/Cargo.lock

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/